{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
<!--{% load crispy_forms_tags %}-->

{% block content %}
    <div class="row">
        <div class="col">
        </div>

        <div class="col-md-6">
            <h5>Create New Recipe</h5>
            <div class="card card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <label class="form-label">{{form.invoiceNumber.label}}*</label>  {% render_field form.invoiceNumber class+="form-control" %}
                        </div>
                        <div class="col">
                            <label class="form-label">{{form.invoiceDate.label}}*</label>  {% render_field form.invoiceDate class+="form-control" %}
                        </div>
                        <div class="col">
                            <label class="form-label">{{form.supplier.label}}*</label>  {% render_field form.supplier class+="form-control" %}
                        </div>
                    </div>
                    <br>
                    <a class="btn btn-info" href="{% url 'incominginvoices-dashboard' %}">Cancel</a> <input class="btn btn-success" type="submit" value="Save">
                </form>
            </div>
        </div>

        <div class="col">
        </div>
    </div>
{% endblock content %}

