{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <h5>Ingredients</h5>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get" class="">
                    {{myFilter.form}}
                    <button class="btn btn-sm btn-info " type="submit">Search</button>
                </form>

            </div>


        </div>


    </div>
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th><a class="btn btn-success" href="{% url 'ingredient-create' %}">New</a></th>
                <th>Category</th>
                <th>Ingredient</th>
                <th></th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td><a href="{{obj.get_absolute_url}}" class="btn btn-sm btn-info" >view</a></td>
                    <td>{{obj.category}}</td>
                    <td>{{obj.name}}</td>
                    <td><a href="{% url 'ingredient-update' obj.pk %}" class="btn btn-sm btn-warning" >edit</a></td>
                    <td><a href="{% url 'ingredient-delete' obj.pk %}"  class="btn btn-sm btn-danger" >delete</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>



{% endblock content %}
