{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <h1 class="">Home page</h1>
    <H4>REQUISITES</H4>
    <h5>Ingerdients</h5>
        <ul>
            <li>graf torta origine cal</li>
            <li>min sto </li>
            <li>giacenza </li>
            <li>disponibilita al netto di impieghi futuri </li>
            <li>mostrare ricette con qulll ingredient ordinato per importaza . comulativa se l ingrediente presenti piu volte nella ricettta per destinazioni diverse </li>
            <li>impiego di quell ingrente </li>
            <li>rotazione in magazzino medio in girni </li>
            <li>valore acquisto </li>
            <li>valore e  quantita waiste e percentuale dellsul totale acquistato</li>
            <li>inventare indici come  vaiste / days before expira tion        ecc </li>
        </ul>
    <h4>Recipe</h4>
        <ul>
            <li> </li>
            <li>recipe item deve avere l importanza dell ingr% = peso ingred / totale ingred*100/servings  probl esistono duplicati di ingred percio fare somma</li>
            <li>deve aggionare nutritionals a modifica item e servings </li>
            <li> iserire programma cottura associato in fase di edit con inset </li>
            <li>inserire  fasi cottura </li>
            <li>recipe comparison con grafici : ingredienti + o -, grafico comarativo quantita ingredienti, ciomapariane parte grassa proteica carboidratica, ciclci di temperture in cottura </li>
            <li> inserire chimica della ricetta</li>
            <li>Processi enzimatici cinvolti </li>
            <li> info su costi basati su storico (preparazioni gia fatte o calcolare su costi degli unltimi acquisti ingredienti. se manca il costo di alcuni ingredienti, richiederli a vvideo qiusto per la simulazione. vedere se e' il caso di inserire in gredienti n prezzo di riferimento che potrebbe essere aggiornato prima di fare l analisi e NON al salvataggio dell' acqusto ingrediente</li>
            <li> ricavato ricetta ricette vendute e resa econamica costo su ricavo</li>
        </ul>

    <h4>Preparazioni</h4>
    <ul>
        <li> </li>
        <li>pese avere il peso totale degli ingredienti  peso dell output</li>
        <li>deve aggionare quantita in magazzeno</li>

        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>

    </ul>



{% endblock content %}
